Repository suchuhong/clipboard-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, storybook, library, demo, ci

docs(contributing): add comprehensive contributing guidelines
  CONTRIBUTING.md
  README.md
  README.zh-CN.md
  docs/api.md
  docs/guide.md
  docs/index.md
Labels: docs

docs(publishing): add comprehensive publishing guidelines
  .github/workflows/release.yml
  PUBLISHING.md
  README.md
  README.zh-CN.md
  docs/publishing.md
Labels: docs, ci

ci(workflows): migrate from npm to pnpm
  .github/workflows/ci.yml
  .github/workflows/pages-preview.yml
  .github/workflows/pages.yml
Labels: ci

docs(config): add link dead link configuration for Storybook
  docs/.vitepress/config.ts
Labels: docs

chore(dependencies): update Changesets and add GitHub changelog generator
  package.json
  pnpm-lock.yaml
Labels: none

ci(workflows): optimize CI workflow for pnpm and Playwright
  .github/workflows/ci.yml
Labels: ci

test(demo): add comprehensive Playwright tests for react-clipboard-lite
  apps/vite-demo/tests/copy.spec.ts
Labels: demo

test(demo): enhance playwright tests for react-clipboard-lite
  apps/vite-demo/tests/copy.spec.ts
Labels: demo

docs(github-pages): add comprehensive GitHub Pages setup documentation
  .changeset/config.json
  GITHUB_PAGES_SETUP.md
  README.md
  README.zh-CN.md
  docs/.vitepress/config.ts
  docs/github-pages-setup.md
  docs/guide.md
  docs/publishing.md
Labels: docs

docs(publishing): add comprehensive pre-publish and quick publish guides
  PRE_PUBLISH_CHECKLIST.md
  QUICK_PUBLISH.md
  packages/react-clipboard-lite/README.md
  packages/react-clipboard-lite/package.json
Labels: library

docs(project): add comprehensive project documentation and setup guides
  .npmrc
  CNPM_FIX.md
  NPM_SETUP.md
  PROJECT_OVERVIEW.md
  QUICK_PUBLISH.md
  README.md
  README.zh-CN.md
Labels: none

chore(package): update package name and scope configuration
  SCOPE_FIX.md
  UPDATE_PACKAGE_NAME.md
  scripts/update-package-name.sh
Labels: none

chore(package): update package name from @such to @such12138
  PRE_PUBLISH_CHECKLIST.md
  PROJECT_OVERVIEW.md
  QUICK_PUBLISH.md
  README.md
  README.zh-CN.md
  apps/vite-demo/package.json
  docs/guide.md
  docs/index.md
  docs/publishing.md
  package.json
  packages/react-clipboard-lite/README.md
  packages/react-clipboard-lite/package.json
  scripts/update-package-name.sh
Labels: docs, library, demo

chore: update package name to @such12138/react-clipboard-lite
  .github/workflows/ci.yml
  .github/workflows/pages-preview.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  CNPM_FIX.md
  CONTRIBUTING.md
  LOCKFILE_UPDATE.md
  NPM_SETUP.md
  PACKAGE_NAME_UPDATE_SUMMARY.md
  SCOPE_FIX.md
  UPDATE_PACKAGE_NAME.md
  apps/vite-demo/src/App.tsx
  apps/vite-demo/vite.config.ts
  packages/react-clipboard-lite/examples/vite-demo/package.json
  packages/react-clipboard-lite/examples/vite-demo/src/App.tsx
  packages/react-clipboard-lite/stories/CopyButton.stories.tsx
  pnpm-lock.yaml
  scripts/update-package-name.sh
Labels: storybook, library, demo, ci

docs(project): reorganize documentation structure and improve readability
  .changeset/initial-setup.md
  CLEANUP_SUMMARY.md
  README.md
  README.zh-CN.md
  docs/DOCS_REORGANIZATION.md
  docs/DOCUMENTATION.md
  docs/FINAL_STRUCTURE.md
  docs/guide.md
  docs/guides/CHANGESET_FIX.md
  docs/guides/CNPM_FIX.md
  docs/guides/CONTRIBUTING.md
  docs/guides/FINAL_CHECKLIST.md
  docs/guides/GITHUB_PAGES_SETUP.md
  docs/guides/LOCKFILE_UPDATE.md
  docs/guides/NPM_SETUP.md
  docs/guides/PACKAGE_NAME_UPDATE_SUMMARY.md
  docs/guides/PRE_PUBLISH_CHECKLIST.md
  docs/guides/PROJECT_OVERVIEW.md
  docs/guides/PUBLISHING.md
  docs/guides/QUICK_PUBLISH.md
  docs/guides/QUICK_START.md
  docs/guides/README.md
  docs/guides/SCOPE_FIX.md
  docs/guides/UPDATE_PACKAGE_NAME.md
  scripts/verify-package-name.sh
Labels: docs

ci(playwright): optimize Playwright configuration for CI environments
  apps/vite-demo/playwright.config.ts
  docs/.vitepress/config.ts
Labels: docs, demo

docs(readme): update browser compatibility section with additional notes
  packages/react-clipboard-lite/README.md
Labels: library

docs(guides): add comprehensive publishing and troubleshooting documentation
  docs/api.md
  docs/guides/PUBLISH_DIAGNOSIS.md
  docs/guides/WHY_NOT_PUBLISHED.md
Labels: docs

chore(package): bump package version to 0.1.2
  packages/react-clipboard-lite/package.json
Labels: library

.github/labeler.yml:

docs:
  - docs/**

storybook:
  - packages/react-clipboard-lite/stories/**
  - packages/react-clipboard-lite/.storybook/**

library:
  - packages/react-clipboard-lite/**

demo:
  - apps/vite-demo/**

ci:
  - .github/workflows/**
